@page
@model ejercicios_razor.Pages.CifradoModel
@{
	ViewBag.Title = "Cifrado César";
}

<style>
	body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
	}

	h2 {
		color: #fff;
	}

	form {
		width: 300px;
		margin: 0 auto;
		background-color: #31363f;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	label {
		font-weight: bold;
		color: #fff;
	}

	input[type="text"],
	input[type="number"],
	button {
		padding: 8px;
		border: 1px solid #75abae;
		border-radius: 4px;
		margin-bottom: 10px;
		width: 100%;
		box-sizing: border-box;
	}

        input[type="text"]::placeholder,
        input[type="number"]::placeholder {
            color: #aaa;
        }

	p {
		margin-bottom: 10px;
		color: #fff;
	}
</style>

<h2 class="text-center">Cifrar Texto</h2>

<form method="post">
	<div>
		<label for="Texto">Texto:</label>
		<input asp-for="Texto" type="text" placeholder="Top Secret..." />
	</div>
	<div>
		<label for="Desplazamiento">Desplazamiento:</label>
		<input asp-for="Desplazamiento" type="number" value="" placeholder="Cantidad desplazamiento"/>
	</div>
	<div>
		<button type="submit" style="background: #75abae; color: #fff;font-size: 19px;">Cifrar texto ultra secreto</button>
	</div>
</form>

@if (Model.TextoCifrado != null)
{
	<h2>Texto cifrado:</h2>
	<p>@Model.TextoCifrado</p>
	<p>Cantidad de desplazamiento: @Model.Desplazamiento</p>
}

<br />

<h2 class="text-center">
	Descifrar Texto
</h2>

<form method="post" asp-page-handler="Descifrar">
	<div>
		<label for="TextoCifradoN">Texto:</label>
		<input asp-for="TextoCifradoN" type="text" placeholder="Top Secret" />
	</div>
	<div>
		<label for="DesplazamientoDescifradoN">Desplazamiento:</label>
		<input asp-for="DesplazamientoDescifradoN" type="number" value="" placeholder="Cantidad desplazamiento"/>
	</div>
	<div>
		<button type="submit" style="background: #75abae; color: #fff;font-size: 19px;">
			Descifrar texto ultra secreto
		</button>
	</div>
</form>

@if (Model.TextoDescifradoN != null)
{
	<h2>Texto descifrado:</h2>
	<p>@Model.TextoDescifradoN</p>
	<p>Cantidad de desplazamiento: @Model.DesplazamientoDescifradoN</p>
}
