@page
@model ejercicios_razor.Pages.IgualdadModel
@{
	ViewData["Title"] = "Calculadora de Expresión";
}

<style>
	body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
	}

	h1,h2 {
		text-align: center;
		margin-top: 20px;
		color: #fff;
	}

	form {
		width: 300px;
		margin: 0 auto;
		background-color: #31363f;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	label {
		display: block;
		margin-bottom: 5px;
		color: #fff;
	}

	input[type="number"] {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-sizing: border-box;
	}

	h2 {
		text-align: center;
		margin-top: 20px;
		color: #fff;
	}

	p {
		text-align: center;
		margin-top: 10px;
		color: #fff;
	}

	button {
		padding: 8px;
		border: 1px solid #75abae;
		border-radius: 4px;
		margin-bottom: 10px;
		width: 100%;
		box-sizing: border-box;
	}
</style>

<h1>Calculadora de Expresión</h1>

<form method="post">
	<div>
		<label for="a">Valor de a:</label>
		<input asp-for="a" type="number" value="" placeholder="Ingresar cantidad" />
	</div>
	<div>
		<label for="x">Valor de x:</label>
		<input asp-for="x" type="number" value="" placeholder="Ingresar cantidad" />
	</div>
	<div>
		<label for="b">Valor de b:</label>
		<input asp-for="b" type="number" value="" placeholder="Ingresar cantidad" />
	</div>
	<div>
		<label for="y">Valor de y:</label>
		<input asp-for="y" type="number" value="" placeholder="Ingresar cantidad" />
	</div>
	<div>
		<label for="n">Valor de n:</label>
		<input asp-for="n" type="number" value="" placeholder="Valor de la operación" />
	</div>
	<div>
		<button type="submit" style="background: #75abae; color: #fff;font-size: 19px;">
			Calcular
		</button>
	</div>
</form>

@if (Model.Resultado != null)
{
	<h2>Resultado:</h2>
	<p>(@Model.a*@Model.x + @Model.b*@Model.y)^@Model.n = @Model.Resultado</p>
}
